@import url("https://fonts.googleapis.com/css2?family=Akshar&family=Barlow+Semi+Condensed:wght@500;600&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --pink: hsl(322, 100%, 66%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

img {
  max-width: 100%;
}

header {
  background-image: url("./images/bg-hero-desktop.svg");
  background-size: cover;
  background-position: center center;
  background-color: var(--very-pale-cyan);
}
